<mat-toolbar class="header">
        <div class="box1">
            <span class="logoDiv">
                <a>
                    <img class= "logo" src="assets/img/logo.png" alt="logo">
                 </a>
            </span>
        </div>

        <div class="box2">
            <span>
                <form action="">
                    <input class="searchInput" type="text">
                    <i class = "material-icons">search</i>
                </form>
            </span>
        </div>

        <div class="box3">
                <i class = "material-icons">
                menu
                </i>
        </div>
    

  
       <!--  


    <div class="logoDiv">
        <a >
           <img class= "logo" src="assets/img/logo.png" alt="logo">
        </a>
    </div>

  
 <div>
        <form action="">
            <input class="searchInput" type="text">
            <i class = "material-icons">search</i>
        </form>
    </div>

    <div class="menu">
        <i class = "material-icons">
        menu
        </i>
    </div>    

    add_shopping_cart
    favorite
    favorite_border
    horizontal_split
    home
    remove_shopping_cart
    shopping_cart
    menu
    close
    -->
</mat-toolbar> 